/* Стили для страницы регистрации */
body {
    background-color: #007BFF;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 20%;
}

h2 {
    color: #007BFF;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.2s; /* Добавим плавный переход для изменения цвета текста */
}

a:hover {
    color: #0055a5; /* Указываем цвет текста при наведении */
}

.error {
    color: #007BFF;
    margin: 5px 0;
}
