/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Убираем подчеркивание у ссылок */
a {
    text-decoration: none;
}

/* Header стили */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
}

.header-title h1 {
    margin: 0;
}

.header-actions a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.header-actions a:hover {
    text-decoration: underline;
}

.chat-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.user-list {
    width: 300px;
    border-right: 1px solid #ccc;
    background-color: #f4f4f4;
}

.header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-list ul {
    list-style: none;
    padding: 0;
    overflow-y: auto;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user:hover {
    background-color: #cccbcb;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-info h3 {
    margin: 0;
    color: #007BFF;
}

.user-info a {
    text-decoration: none;
    color: #007BFF;
}

.user-info a:hover {
    text-decoration: none;
}

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border-bottom: 1px solid #ccc;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    max-width: 70%;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.message-text {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.sent {
    align-self: flex-end;
    background-color: #007BFF;
    color: #fff;
    margin-left: auto;
    width: 60%;
}

.received {
    align-self: flex-start;
    background-color: #33cc33;
    color: #fff;
    margin-right: auto;
    width: 60%;
}

.message-date {
    font-size: 10px; /* Установите размер шрифта по вашему выбору */
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #ffffff; /* Установите цвет по вашему выбору */
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}
