{% extends 'base.html' %}
{% load static %}

{% block title %}Чат{% endblock %}

{% block content %}
<div class="chat-container">
    <div class="user-list">
        <div class="header">
            <h3>Пользователи</h3>
        </div>
        <ul>
            {% for user in users %}
            <li class="user">
                <div class="user-avatar">
                    <img src="{% static 'assets/dp.png' %}" alt="User Avatar">
                </div>
                {% if user.profile.online_status %}
                    <div class="user-info">
                        <a style="color: green" id="{{user.username}}_status" href="{% url 'chat:chat' username=user.username %}">{{user.username}}</a>
                    </div>
                {% else %}
                    <div class="user-info">
                        <a style="color: grey" id="{{user.username}}_status" href="{% url 'chat:chat' username=user.username %}">{{user.username}}</a>
                    </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="chat">
        <div class="header">
            <div class="user-avatar">
                <img src="{% static 'assets/dp.png' %}" alt="User Avatar">
            </div>
            <h2>{{ user.username }}</h2>
        </div>
        <div class="chat-messages" id="chat-messages">
            {% for message in messages %}
            <div class="message {% if message.sender == request.user.profile %}sent{% else %}received{% endif %}">
                <div class="message-text">
                    {{ message }}
                </div>
                <div class="message-date">
                    {{message.timestamp|time:'H:i'}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="chat-input">
            <input type="text" id="message-input" placeholder="Введите сообщение">
            <button type="submit" id="chat-message-submit">Отправить</button>
        </div>
    </div>
</div>
{{ user.id|json_script:"json-username" }}
{{ user.username|json_script:"json-username-receiver" }}
{{ request.user.username|json_script:"json-message-username" }}
{{ request.user.id|json_script:"json-user-id"}}
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/online_status.js' %}"></script>
{% endblock %}
