{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Заголовок страницы{% endblock %}</title>
    {% block static %}<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">{% endblock %}
</head>

<body>
<!--<header>-->
<!--    <div class="header-title">-->
<!--    </div>-->
<!--    <div class="header-actions">-->
<!--        <a href="">Настройки</a> |-->
<!--        <a href="">Выход</a>-->
<!--    </div>-->
<!--</header>-->
{% block content %}
{% endblock %}
</body>
</html>